app:
  name: assignment
  port: 8083

db:
  dialect: mysql
  host: localhost
  port: 3306
  db_name: assignment # database name
  username: root # database user
  password: yea_bois # database password

jwt:
  key: my_secret_key
  expired_minute: 25